<div class="card" style="width: 50rem;" *ngIf="imageDetails !== undefined">
    <p>
        <b>[{{imageDetails.id}}] - {{ imageDetails.titre }}</b>, {{ imageDetails.date | date:'dd/MM/yyyy' }}</p>

    <p class="card-text">
        {{ score }} point
        <span *ngIf="(score|number) > 1 || (score|number) < -1">s</span>
        / {{ comments.length }} comment
        <span *ngIf="comments.length > 1">s</span>
    </p>
    <span [style.color]="alreadyVoted ? 'black' : 'white'">
        <a (click)="upVote()" class="btn btn-primary" title="Upvote this image">
            <i class="fas fa-arrow-up"></i>
        </a>
        <a (click)="downVote()" class="btn btn-primary" title="Downvote this image">
            <i class="fas fa-arrow-down"></i>
        </a>
        <a (click)="deletePost()" class="btn btn-primary" title="Delete this image" *ngIf="isUserPostAuthor()">
            <i class="fas fa-trash-alt" style="color: white;"></i>
        </a>
    </span>

    <div class="card-body">
        <img class="card-img-top" src="data:image/png;base64,{{imageDetails.file}}" alt="Image">
    </div>
</div>
<br />
<br />
<div id="comments" style="width: 50rem;">
    <form #commentForm="ngForm" *ngIf="_userService.logged">
        <div class="card">
            <input #commentEntry type="textarea" placeholder="Write comments..." id="commentEntry" />
            <input type="button" value="Send" (click)="sendComment(commentEntry.value, null)" />
        </div>
    </form>
    <br />
    <app-comment [postDetails]="postDetails" [comment]="comment" *ngFor="let comment of comments"></app-comment>
</div>