<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="isCollapsed"
        aria-controls="collapseExample">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" [routerLink]="['/']" (click)="goToTop()">9GAG</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="!isCollapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/images']" [queryParams]="{ sort: 'date,desc' }">>By date
                    <span class="sr-only"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/images']" [queryParams]="{ sort: 'titre' }">>By title</a>
            </li>
        </ul>
        <div *ngIf="_userService.logged">
            <span class="btn btn-outline-secondary disabled my-2 my-sm-0">
                <i class="fas fa-user"></i>
                Logged as {{ _userService.username }}
            </span>
            <a [routerLink]="['/upload']" class="btn btn-outline-info my-2 my-sm-0">
                <i class="fas fa-plus-circle"></i>
                Add post
            </a>
            <a [routerLink]="['/']" (click)="disconnect()" class="btn btn-outline-info my-2 my-sm-0">
                <i class="fas fa-sign-out-alt"></i>
                Logout
            </a>
        </div>
        <div *ngIf="!_userService.logged">
            <a [routerLink]="['/login']" class="btn btn-outline-info my-2 my-sm-0">
                <i class="fas fa-plus-circle"></i>
                Login
            </a>
            <a [routerLink]="['/registration']" class="btn btn-outline-info my-2 my-sm-0">
                <i class="fas fa-user-plus"></i>
                Register
            </a>
        </div>
    </div>
</nav>