<h2>Login page</h2>
<form name="userForm" [formGroup]="form">
    <div class="form-group row">
        <label for="example-text-input" class="col-4 col-form-label">Pseudo</label>
        <div class="col-6">
            <input class="form-control" type="text" formControlName="login" ngDefaultControl type="text">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-4 col-form-label">Password</label>
        <div class="col-6">
            <input class="form-control" type="password" formControlName="password" ngDefaultControl>
        </div>
    </div>
</form>
<button md-button color="primary" type="submit" (click)="submit(form.value)">Login</button>
<div class="row" style="display: block; margin: 15px;" *ngIf="error" >
    <span class="text-danger" style="text-align: center;">Wrong login or password</span>
</div>