<!--<app-toolbar></app-toolbar>
<div class="container-fluid h-100" style="padding-top: 4rem;">
    <div class="row justify-content-center h-100">
        <div class="col d-none d-sm-block" style="border:1px solid red; -ms-flex: 0 0 240px; flex: 0 0 240px;   overflow-y: scroll; height : 100% ">
            <app-categories></app-categories>
        </div>
        <div class="col" style="border:1px solid red;">
            <app-posts></app-posts>
        </div>
    </div>                               

</div> ctrl + : -->
<app-toolbar></app-toolbar>
<div class="container-fluid h-100" style="padding-top: 4rem;">
    <div class="row justify-content-center h-100">
        <div style="text-align:center">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>