<div class="card" style="width: 50rem;">
    <p>
        <b>[{{imageDetails.id}}] - {{ imageDetails.titre }}</b> par {{ author }}, {{ imageDetails.date | date:'dd/MM/yyyy' }}</p>

    <img class="card-img-top" src="data:image/png;base64,{{imageDetails.file}}" alt="Image">

    <div class="card-body">
        <p class="card-text">
            {{ score }} point<span *ngIf="(score|number) > 1 || (score|number) < -1">s</span>
            / {{ comments.length }} comment<span *ngIf="comments.length > 1">s</span>
        </p>
        <span [style.color]="alreadyVoted ? 'black' : 'white'">
            <a (click)="upVote()" class="btn btn-primary" title="Upvote this image">
                <i class="fas fa-arrow-up"></i>
            </a>
            <a (click)="downVote()" class="btn btn-primary" title="Downvote this image">
                <i class="fas fa-arrow-down"></i>
            </a>
        </span>
        <a [routerLink]="['/images/' + imageDetails.id]" class="btn btn-primary" title="Show comments">
            <i class="fas fa-comments"></i>
        </a>
        <a (click)="deletePost()" class="btn btn-primary" title="Delete this image" *ngIf="isUserPostAuthor()">
            <i class="fas fa-trash-alt" style="color: white;"></i>
        </a>
    </div>
</div>
<br>
<br>