<!--  infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"-->
<div class="search-results">
    <app-post [posts]="posts" [image]="image" *ngFor="let image of images"></app-post>
</div>