<div class="d-flex justify-content-center" style="text-align : center">
    <div class="container-fluid">
        <div class="row-fluid content">
            <form name="userForm" [formGroup]="form">
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Pseudo</label>
                    <div class="col-6">
                        <input class="form-control" type="text" formControlName="pseudo" ngDefaultControl type="text" [attr.disabled]="true" value="{{ _userService.username }}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Titre de l'image</label>
                    <div class="col-6">
                        <input class="form-control" type="text" formControlName="titreImg" ngDefaultControl type="text">
                    </div>
                </div>
                <div class="form-group row" title="Vous pouvez aussi coller votre image avec ctrl + V">
                    <label for="example-text-input" class="col-2 col-form-label">Image</label>
                    <div class="col-1">
                        <div class="custom-file">
                            <input type="file" accept="image/*" (change)="changeListener($event)">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">Aperçu</label>
                    <div class="col-1">
                        <img id="preview" src="#" style="display: none; max-width: 10vw" />
                    </div>
                </div>

            </form>
            <button md-button color="primary" type="submit" (click)="submit(form.value)">Save</button>
        </div>
    </div>


</div>