<div class="card" style="width: 50rem;">
    <p>Posted by <b>{{ author }}</b>, {{ commentDetails.date | slice:0:10 }} at {{ commentDetails.date
        | slice:11:16 }}</p>
    <p>{{ commentDetails.content }}</p>
    <div *ngIf="isUserCommentAuthor()">
        <a (click)="deleteComment(commentDetails.id)" class="btn btn-outline-danger my-2 my-sm-0">
            Delete this comment
        </a>
    </div>
</div>
<br>
<br>